.iw-dependencies/
target/
bin/
obj/
generated/
*.suo
schema.html
*.DotSettings.user
.idea/
packages/
improbable/
.spatialos/
*.build.json
GeneratedCode.*
*.targets

CsharpWorker.csproj.user
CsharpWorker.sln

spatialos_worker_packages.json

.spatialos
*.nupkg
